body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
.dark-mode {
  --text-color: var(--white);
  --background-color: var(--very-dark-blue);
  --element-color: var(--dark-blue);
  --input-color: var(--dark-gray);
}

.light-mode {
  --text-color: var(--very-dark-blue-text);
  --background-color: var(--very-light-gray);
  --element-color: var(--white);
  --input-color: var(--dark-gray);
}
